.increament-banner{
	position: relative;
	width: 100%;
	height: 804px;
}
.wrap-bg{
	height: 804px;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
	position: absolute;
	
}
.increament-banner1{
	position: relative;
	width: 100%;
	height: 2356px;
	background-color: #ffeea8;
}
.wrap-bg1{
	height: 2356px;
	width: 1194px;
	margin: 0 auto;
	
}
.increament-header{
	background-image: url('../../images/increament-header.png')
}

.increament-bg{
	background-image: url('../../images/increament-bg.png');
	background-repeat: no-repeat;
}

.wrap1{
	height: 230px;
	width: 1030px;
	padding-top: 200px;
	margin-left: 80px;
	font-size: 0;
	margin-bottom: 30px;
	span{
		font-size: 31px;
		display: inline-block;
		width: 820px;
		color: #6d310b;
		font-weight: bold;
		margin-top: 60px;
		margin-left: 20px;
	}
}

.increment-phone{
	margin-left: 45px;
}

.phone-cont{
	margin-top: 30px;
		font-size: 31px;
		color: #6d310b;
		font-weight: bold;
	}